.navbar-li{
    display: inline-block;
    padding: 26px 0;
    width: 14.0%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.navbar-header{
    display: inline-block;
    padding: 26px 0;
    width: 55.0%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.a1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    width: 20.0%;
    color: white;
}

.nav-bar{
    background-color: rgb(77, 25, 126);
    margin: 0px;
    z-index: -20px;
}