.header-main{
    text-align: center;
    height: 400px;
    width: 100%;
    background-image: url(./game.png);
    background-repeat: initial;
    color: white;
    padding: 180px;
    
}

.text1{
   margin-bottom: 1px; 
   text-align: inherit;
   font-size: 100px;
}